<template>
  <div class="grid-x grid-padding-x">
    <ls-switch channel="stream" title="Stream" custom-class="large"></ls-switch>
    <ls-select channel="select-input" title="Source" custom-class="large"></ls-select>
    <ls-switch channel="switch-pad" title="PAD"></ls-switch>
    <ls-select channel="alc" title="ALC"></ls-select>
    <ls-select channel="pga" title="PGA"></ls-select>
    <ls-select channel="alc-max-gain" title="ALC max"></ls-select>
    <ls-select channel="alc-target" title="ALC target"></ls-select>
    <ls-select channel="alc-attack-time" title="ALC attack time"></ls-select>
    <ls-select channel="alc-decay-time" title="ALC decay time"></ls-select>
    <ls-select channel="alc-hold-time" title="ALC hold time"></ls-select>
    <ls-switch channel="noise-gate" title="Noise gate"></ls-switch>
    <ls-select channel="noise-gate-threshold" title="Noise gate threshold"></ls-select>
    <ls-select channel="aac-quality" title="AAC quality"></ls-select>
    <ls-select channel="preset" title="Actual preset"></ls-select>
    <ls-preset-save></ls-preset-save>
  </div>
</template>

<script>
  import LsPresetSave from '@/components/ls-preset-save'
  import LsSelect from '@/components/ls-select'
  import LsSwitch from '@/components/ls-switch'

  export default {
    name: 'general-settings',
    components: {
      LsPresetSave,
      LsSelect,
      LsSwitch
    }
  }
</script>
