<template>
  <div class="grid-x grid-padding-x" v-if="sondbox && getSondboxParam('audio-states')">
    <ls-player-hls class="cell medium-3" playlist-url="https://api.strealo.lesondier.com/sondboxes/139/audio/index.m3u8"></ls-player-hls>
    <div class="cell medium-9">
      <h1>Sondbox</h1>
      <p class="h5 subheader">On stream: <strong>{{ getSondboxParam('audio-states').streaming_is_on }}</strong></p>
      <p class="h5 subheader">On record: <strong>{{ getSondboxParam('audio-states').recording_is_on }}</strong></p>
      <p class="h5 subheader">Playlist url: <strong>{{ getSondboxParam('audio-states').playlist_url }}</strong></p>
    </div>
  </div>
  <div v-else>
    <div class="cell medium-9">
      <h2>NOT AVAILABLE</h2>
      <p>The sondbox, you are intending to reach is currently NOT AVAILABLE !<br />
      Before you do anything, please check those parameters:</p>
      <ul>
        <li>The sondbox is plugged in,</li>
        <li>The sondbox is connected to the web,</li>
        <li>The sondbox is ON.</li>
      </ul>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'
  import lsPlayerHls from './ls-player-hls'

  export default {
    computed: {
      ...mapGetters([
        'getSondboxParam'
      ]),
      ...mapState([
        'sondbox'
      ])
    },
    components: {
      lsPlayerHls
    }
  }
</script>
