<template>
  <div class="cell grid-x" v-if="sondbox && sondbox.preset">
    <p class="cell small-4">Save those parameters as a <strong>{{ sondbox.preset && sondbox.preset.value }}</strong> preset</p>
    <button role="button" class="cell small-8 button large" @click="savePreset">SUBMIT</button>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import store from '@/store/store'

  export default {
    name: 'ls-select',
    props: {
      channel: String,
      title: String
    },
    computed: {
      ...mapState([
        'sondbox'
      ])
    },
    methods: {
      savePreset () {
        store.dispatch('saveSondbox', {
          id: 'save-preset'
        })
      }
    }
  }
</script>
