<template>
  <audio id="ls-audio-player" controls
         v-if="getSondboxParam('audio-states').playlist_url"></audio>
</template>
<script>
  import { mapGetters } from 'vuex'
  import Hls from 'hls.js'

  export default {
    name: 'ls-player-hls',
    props: {
      playlistUrl: String
    },
    data () {
      return {
        hls: undefined,
        player: null
      }
    },
    computed: {
      ...mapGetters([
        'getSondboxParam'
      ])
    },
    mounted () {
      this.setPlayer()
    },
    methods: {
      initializePlayer () {
        if (!this.player) {
          this.player = document.getElementById('ls-audio-player')
        }
        if (this.hls) {
          this.hls.destroy()
          this.hls = undefined
        }

        if (Hls.isSupported()) {
          this.hls = new Hls({
            debug: false
          })
          this.hls.attachMedia(this.player)
        }
      },
      pause () {
        this.player && this.player.pause()
      },
      play () {
        this.player && this.player.play()
      },
      playPause () {
        if (this.isPaused()) {
          this.play()
        } else {
          this.pause()
        }
      },
      setPlayer () {
        let self = this
        let deferred = new Promise((resolve, reject) => {
          this.initializePlayer()
          if (this.hls) {
            this.hls.on(Hls.Events.MEDIA_ATTACHED, function () {
              self.hls.loadSource(self.getSondboxParam('audio-states').playlist_url)
              self.hls.on(Hls.Events.MANIFEST_PARSED, function () {
                return resolve(true)
              })
            })
          } else {
            this.player.src = self.getSondboxParam('audio-states').playlist_url
            this.player.oncanplay = function () {
              return resolve(true)
            }
          }
          return deferred
        })
      }
    }
  }

</script>
