<template>
  <div class="cell grid-x" v-if="sondbox && getSondboxParam(channel)">
    <p class="cell small-4">{{ title }}</p>
    <select class="cell small-8" @change="updateValue($event, channel)">
      <option v-for="item in getSondboxParam(channel).list_param" :value="item"
              :selected="getSondboxParam(channel).value === item">{{ item }}</option>
    </select>
  </div>
</template>
<script>
  import { mapGetters, mapState } from 'vuex'
  import store from '@/store/store'

  export default {
    name: 'ls-select',
    props: {
      channel: String,
      title: String
    },
    computed: {
      ...mapGetters([
        'getSondboxParam'
      ]),
      ...mapState([
        'sondbox'
      ])
    },
    methods: {
      updateValue ($event, channel) {
        store.dispatch('saveSondbox', {
          id: channel,
          value: $event.target.value })
      }
    }
  }
</script>
