<template>
  <div class="cell grid-x" v-if="sondbox && getSondboxParam(this.channel)">
    <p class="cell small-4">{{ title }}</p>
    <div :class="'cell small-8 switch ' + (customClass ? customClass : '')">
      <input class="switch-input" :id="'switch_' + channel" type="checkbox" :name="'switch_' + channel"
             v-model="value">
      <label class="switch-paddle" :for="'switch_' + channel">
        <span class="show-for-sr">{{ title }}</span>
        <span class="switch-active" aria-hidden="true">YES</span>
        <span class="switch-inactive" aria-hidden="true">NO</span>
      </label>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapState } from 'vuex'
  import store from '@/store/store'

  export default {
    name: 'ls-switch',
    props: {
      channel: String,
      customClass: String,
      title: String
    },
    computed: {
      ...mapGetters([
        'getSondboxParam'
      ]),
      ...mapState([
        'sondbox'
      ]),
      value: {
        get: function () {
          return this.getSondboxParam(this.channel).value
        },
        set: function (newValue) {
          store.dispatch('saveSondbox', {
            id: this.channel,
            value: newValue
          })
        }
      }
    }
  }
</script>
<style>
 .switch-inactive {
   right: 8%;
 }
</style>
