<template>
  <div id="app" class="grid-container">
    <div class="grid-y grid-frame">
      <header class="cell header title-bar">
        <div class="title-bar-left">
          <button class="menu-icon" type="button"></button>
          <span class="title-bar-title">Settings</span>
        </div>
      </header>
      <main class="cell medium-auto cell-block-y">
        <ls-card></ls-card>
        <router-view></router-view>
      </main>
    </div>
  </div>
</template>

<script>
import LsCard from './components/ls-card'

export default {
  name: 'app',
  components: {
    LsCard
  }
}
</script>

<style lang="scss">
  @import '../static/styles/global';
</style>
